body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* --========HEADER========-- */
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 15px;
}

.nav-items {
    display: flex;
    gap: 40px;
}

/*=====LOGO=====*/
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

/*=====NAVIGATION=====*/
.nav-link {    
    display: flex; 
    gap: 40px;
}

.nav-link-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-link-items:hover,
.nav-link-items:focus{
    color: #404bbf;
}

/*=====ADRESSA=====*/
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
}

.address-link-item {
    color: #434455;
}

.address-item {
    margin-right: 0;
    display: flex;
}

.address-link-item:hover,
.address-link-item:focus {
    color: #404bbf;
}

/*  --=========MAIN=========--  */
/* --========HERO========-- */
.section-text {
    background: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    padding: 188px 0;
    align-items: center;
    margin: 0 auto;
}

.main-page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
}
/*=====BUTTON=====*/
button {
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.main-page-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    border: none;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    text-align: center;
    min-width: 169px;
    margin: 48px auto 0;
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
}

/* --========BENEFITS========-- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin-bottom: 8px;
}

.text-section-it {
    padding: 120px 0;
}

.text-section-it > p {
    text-align: center;
}

.order-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.order-list-item {
    width: calc((100% - 72px) / 4);
}

.order-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}

.order-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 24px;
    margin-bottom: 8px;
}

.order-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

/* --========SPECIALISTS========- */
.section-team {
    background-color: #f4f4fd;
    padding: 120px 0;
    border-radius: 0px 0px 4px 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-cards {
    padding: 32px 0;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center; 
}

.team-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-item {
    background-color: #ffffff;
    display: block;
    border-radius: 0px 0px 4px 4px;
}

/* --========PORTFOLIO========-- */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-thirt {
    background-color: #f4f4fd;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    background-color: #ffffff;
    width: ((100% - 48px) / 3);
}

.portfol-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --========FOOTER========-- */
.page-footer {
    background: #2e2f42;
    padding: 100px 0;
    text-align: left;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 16px;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   padding-right: 76px;
   margin-right: 76px;
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}