
/* СКИДАННЯ ЗАГАЛЬНИХ СТИЛІВ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* --================= ЗАГАЛЬНІ СТИЛІ ПО РОЗМІРУ ЕКРАНА ================-- */
/* --===== версія мобільна =====-- */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* --===== версія плантшет =====-- */
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }

}
/* --===== версія десктоп/комп =====-- */
@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* --================= HEADER ================-- */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #fff;
}

.page-header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    display: inline-block;
} 

.logo-part {
    color: #2e2f42;
}

.nav-link {
    display: none;
}

.btn-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.address-link {
    display: none;
}

/*--====== MOBILE MENU ======--*/

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobail-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 9, 0.2, 1);
}

.menu-container {
    width: 100%;
    flex-direction: column;
}

.mobail-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobail-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fdfdff;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobail-close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.mobail-close-btn:hover .close-svg {
    fill: #fff;
}

.mobail-close-btn:focus .close-svg {
    fill: #fff;
}

.mobail-nav {
    margin-bottom: auto;
}

.mobail-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobail-nav-list-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
}

.mobail-nav-list-link:hover {
    color: #404bbf;
}

.mobail-nav-list-link:focus {
    color: #404bbf;
}

.mobail-nav-list-link.active {
    color: #404bbf;
}

.contacts {
    margin-top: 168px;
}

.mobail-contact {
    margin-bottom: 48px;
}

.mobail-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobail-contact-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-contact-link.active {
    color: #4d5ae5;
}

.mobail-contact-link:hover {
    color: #404bbf;
}

.mobail-contact--link:focus {
    color: #404bbf;
}

.mobail-list-social-list {
    display: flex;
    gap: 40px;
}

.mobail-list-social-item {
    width: 40px;
    height: 40px;
}

.mobail-list-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-list-social-link:hover {
    background-color: #404bbf;
}

.mobail-list-social-link:focus {
    background-color: #404bbf;
}

.mobail-list-social-svg {
    fill: #f4f4fd;
}

/*  --================MAIN===============--  */
/* --==========HERO==========-- */
.section-text {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/hero-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
}

.main-page-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 216px;
    margin-bottom: 48px;
    margin: 0 auto 72px auto;
}

/*=====BUTTON=====*/
button {
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.main-page-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    border: none;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    text-align: center;
    min-width: 169px;
    margin: 48px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
}

/* --==========BENEFITS==========-- */
.text-section-it {
    fill: #ffffff;
    background-color: #fff;
    padding: 100px 0;
}

.section-team {
    background-color: #ffffff;
}

.benefits-title {
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
    
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-top: 96px;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    display: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.order-list-item {
    width: 100%;
}

.benefits-icon {
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    height: 112px;
}

.order-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.order-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --========SPECIALISTS========- */
.section-team {
    background-color: #f4f4fd;
    padding: 100px 0;
}

.text-section-it {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4f4;
}

.team-title {
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
    
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    width: calc(100% - 24px);
    margin: 0 auto;
}

.team-list-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: 100%;
    overflow: hidden;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-cards {
    text-align: center;
    padding: 32px 0px;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.benefits-icon-svg {
    fill: #f4f4fd;
}

/* --========PORTFOLIO========-- */
.portfolio-section{
    padding: 100px 0;
}
.portfolio-title {
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
    
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 72px;
}

.portfolio-thirt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-list-item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;

    width: 296px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfol-cards {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* --===============FOOTER=================-- */
  /*--=======webstudio========--*/
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block; 
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 288px;
    text-align: left;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/*--=======social media========--*/
.footer-social-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31d0aa;
}

/*--=======subscribe========--*/
.subscribe-title-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-subscribe-footer {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form-subscribe-footer::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-footer {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icoms-telegram {
    fill: #fff;
    margin-left: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover {
    background-color: #404bbf;
}

/* --=========== MODAL ============-- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-form-svg,
.modal-close-btn:focus .modal-form-svg {
    fill: #fff;
}

.modal-window-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-user-input {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-svg {
    fill: #4d5ae5;
}

.modal-form-comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    outline: none;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-field {
    margin-bottom: 24px;
}

.label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custon-checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox:checked+ .label .custon-checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover {
    background-color: #404bbf;
}


@media (min-resolution: 192dpi) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-mobile-bg@2x.jpg");
    }
}

@media (min-width: 768px) {
    .page-navigation {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-link {
        display: flex;
        gap: 40px;
    }

    .nav-link-items {
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: inline-block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link-items:hover {
        color: #404bbf;
    }

    .address-link-item:focus {
        color: #404bbf;
    }

    .nav-link-items.active {
        color: #404bbf;
    }

    .nav-link-items.active::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address-link {
        display: block;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        padding: 0;
        display: inline-block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link-item:hover,
    .address-link-item:focus {
        color: #404bbf;
    }

    .btn-burger {
        display: none;
    }

    .section-text {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-tablet-bg.jpg")
    }

    .main-page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }

    .order-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .order-list-item {
        width: calc((100% - 24px) / 2);
    }

    .order-list-item-title {
        text-align: left;
    }

    .order-list-item-title {
        text-align: center;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-list-item {
        width: calc((100% - 186px) / 2)
    }

    .portfolio-thirt {
        flex-direction: row;
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .page-footer .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
        text-align: left;
    }

    .footer-text {
        width: 264px;
    }

    .form-footer {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
    .section-text {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) url("../images/hero/hero-tablet-bg@2x.jpg");
    }

    .mobail-menu {
        display: none;
    }
}

@media (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-link-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    .hero {
        padding: 120px 0;
    }

    .section-text {
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-tablet-bg.jpg")
    }

    .main-page-title {
        font-size: 56px;
        margin: 0 auto 48px auto;
    }

    .order-list-item {
        width: calc((100% - 72px) / 4);
    }

    .benefits-icon {
        display: flex;
    }

    .order-list-item-title {
        font-size: 20px;
        font-weight: 500;
    }

    .order-list-item-text {
        font-weight: 400;
    }

    .team-list {
        gap: 24px;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }

    .portfolio-thirt {
        gap: 48px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .page-footer .footer-container {
        align-items: baseline;
        gap: 0;
        padding-left: 0;
        text-align: left;
    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .footer-social-container {
        margin-right: 80px;
    }
}   

@media (min-resolution: 192dpi) and (min-width: 1158px) {
    .section-text {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-desktop-bg@2x.jpg");
    }

    .main-page-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        max-width: 524px;
        align-items: flex-start;
        justify-content: flex-start;
        margin: auto; 
    }

    button {
        cursor: pointer;
        font-family: inherit;
        display: flex;
        flex-direction: row;
    }

   .main-page-btn {
       display: block;
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #ffffff;
       background: #4d5ae5;
       border-radius: 4px;
       border: none;
       cursor: pointer;
       height: 56px;
       box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
       background: #4d5ae5;
       text-align: center;
       padding: 16px 32px;
       min-width: 169px;
       margin: 48px auto 0;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

    /*======Subscribe=====*/
    .footer-container {
        display: flex;
        align-items: baseline;
    }
    
    .footer-logo-text {
        margin-right: 120px;
    }
    
    .subscribe-title-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
    }
    
    .form-footer {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .form-subscribe-footer {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #ffffff;
    }
    
    .form-subscribe-footer::placeholder {
        color: #ffffff;
    }
    
    .button-footer {
        font-family: "Roboto", sans-serif;
        display: flex;
        min-width: 165px;
        height: 40px;
        border-radius: 4px;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        border: none;
        padding: 8px 24px;
    }
    
    .footer-icon {
        fill: #f4f4fd;
    }
    
    .social-icoms-telegram {
        margin-left: 16px;
    }
}  


